* {
  padding: 0;
  margin: 0;
}

:root {
  --red: #fe0000;
  --black: #252525;
}

header {
  border-top: 6px solid var(--red);
  padding-left: 5vw;
  padding-right: 5vw;
}

main {
  padding-left: 5vw;
  padding-right: 5vw;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
}
header nav ul {
  display: flex;
  gap: 2vw;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 700;
  /* font-size: calc(0.5vw + 0.5vh + 0.5vmin); */
  font-family: Arial;
  align-items: center;
}

.logo {
  width: 10%;
}

nav ul li {
  list-style: none;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
}

nav ul li button {
  background-color: var(--black);
  border: none;
  color: white;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  border-radius: 10px;
  padding: 1vh 2vw;
  font-weight: 700;
}

nav ul li button:hover {
  background-color: #606060;
  cursor: pointer;
}

section ul {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  margin-top: 2vh;
  font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  font-weight: 800;
  font-family: Arial;
}

section ul li {
  list-style: none;
}

header section a {
  color: var(--black);
  font-weight: 700;

  text-decoration: none;
}

header section a:hover {
  color: var(--red);
  border-bottom: 3px solid var(--red);
  padding-bottom: 1vh;
}

header section a:focus {
  color: var(--black);
  border-bottom: 3px solid var(--red);
  padding-bottom: 1vh;
}

/* Main section */

h1 {
  font-family: Arial;
  font-size: calc(2vw + 2vh + 2vmin);
  margin-top: 5vh;
}

.stock-photo {
  width: 90vw;
  margin-top: 2vh;
}

p {
  font-family: Arial;
  margin-top: 2vh;
  font-size: calc(0.7vw + 0.7vh + 0.7vmin);
}

/* Section of steps */

main section:nth-of-type(2) {
  margin-top: 4vh;
}

main section div:first-of-type {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}

.circle {
  width: clamp(2vw, 15vw, 15vw);
  height: clamp(2vw, 15vw, 15vw);
  border-radius: 50%;
  background-color: #c96c6c40;
  box-shadow: none;
}

h2 {
  font-family: Arial;
  font-size: calc(2vw + 2vh + 2vmin);
  letter-spacing: 0.2ch;
  margin-left: 4vw;
  font-weight: 300;
}

h3 {
  /* position: absolute; */
  font-size: calc(4vw + 4vh + 4vmin);
  font-family: Arial;
  color: white;
  /* justify-content: center; */
  margin: auto;
}
div ul {
  margin-top: 5vh;
  margin-bottom: 6.5vh;
}

div ul li button {
  font-size: calc(0.7vw + 0.7vh + 0.7vmin);
  border-bottom: 4px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-bottom: 1.5vh;
  font-family: Arial;
  font-weight: 550;
  /* border: none none none 4px solid blue; */
  background-color: white;
  color: var(--black);
}

div ul li button:hover {
  border-bottom: 4px solid var(--red);
  /* font-weight: 700; */
  cursor: pointer;
  padding-bottom: 1.5vh;
}

div ul li button:focus {
  border-bottom: 4px solid var(--red);
  padding-bottom: 1.5vh;
  font-weight: 800;
  font-size: calc(0.65vw + 0.65vh + 0.65vmin);
}
section div ul {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 7vw;
  justify-content: flex-start;
  padding: 0 6vw;
}

section div div {
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1em;
  height: 10vh;
  margin-top: 4vh;
  padding: 2em;
}

/* Boeken */

.boek-kaft {
  width: 7vw;
  height: 10vh;
  margin-right: 10%;
  cursor: pointer;
}

.boeken1,
.boeken2,
.boeken3,
.boeken4 {
  height: auto;
  margin-top: 6.5vh;
}

.boek-title:hover {
  visibility: visible;
}

.boek-title {
  width: 15vw;
  background-color: #c6c6c6;
  font-weight: 700;
  font-family: Arial;
  color: var(--black);
  text-align: center;
  border-radius: 6px;
  padding: 1em;
  position: absolute;
  z-index: 999;
  top: -8vh;
  left: -4vw;
  height: auto;
  line-height: inherit;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
}

.boeken1 a:first-of-type .boek-kaft {
  width: 10vw;
  height: auto;
  border-bottom: 5px solid #fec300;
}

.boeken2 a:first-of-type .boek-kaft {
  width: 10vw;
  height: auto;
  border-bottom: 5px solid #fec300;
}
.boeken3 a:first-of-type .boek-kaft {
  width: 10vw;
  height: auto;
  border-bottom: 5px solid #fec300;
}
.boeken4 a:first-of-type .boek-kaft {
  width: 10vw;
  height: auto;
  border-bottom: 5px solid #fec300;
}

div div a {
  transition: all 0.2s ease-in-out;
}
div div a:hover {
  transform: scale(1.05);
}

/* Footer */

footer {
  background-color: #252525;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  width: 90%;
  padding: 2vh 0;
}

footer ul:first-of-type {
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
}

footer li {
  color: white;
  font-size: calc(0.7vw + 0.7vh + 0.7vmin);
  font-weight: 700;
  list-style: none;
  font-family: Arial;
}

footer ul:last-of-type {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
  padding-right: 5vw;
}

footer ul li img {
  width: 2vw;
  /* height: 5vh; */
}
